.breadcrumb-sec {
    position: relative;
    background-image: url("../images/breadcrumb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 381px;
    padding: 0 0 70px;

    @include xs {
        padding: 0 0 30px;
        height: 200px;
    }
}

.page-head {
    font-size: 36px;
    color: #fff;
    font-family: bold;
    margin-bottom: 9px;
    position: relative;
}

ol.breadcrumb {
    background-color: transparent;
    border: none;
    border-radius: 0;
    position: relative;
    margin: 0;
}

ol.breadcrumb li {
    font-size: 20px;
    color: rgba(#fff, 0.5);
    cursor: default;
    font-family: light;
}

ol.breadcrumb li.active {
    color: rgba(#fff, 0.5);
}

ol.breadcrumb li a {
    font-size: 20px;
    font-family: light;
    color: rgba(#fff, 0.5);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ol.breadcrumb li a:hover {
    color: #fff;
}