.mo-navbar {
    display: flex;
    align-items: center;
    margin-left: 90px;

    @include sm {
        margin-left: 20px;
    }
}

.nav-li {
    margin-left: 29px;

    @include sm {
        margin-left: 20px;
    }

    &:last-of-type {
        margin: 0;
    }
}

.nav-anchor {
    font-size: 18px;
    color: #fff;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $green;
    }

    &:focus {
        color: $green;
    }
}