.about-main-sec {
    padding: 0 10.333vw;
    transform: translateY(90px);

    @include xs {
        padding: 0;
        transform: none;
    }

    .container {
        max-width: 100%;

        @include xs {
            width: 100%;
        }
    }
}

.about-main-head-pic {
    @include xs {
        width: 50px;
    }
}

.about-main-info {
    display: flex;
    flex-direction: column;
    background-color: #0d1c61;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 70px 90px;
    transform: translateY(-210px);

    @include xs {
        transform: translateY(-50px);
        padding: 15px 15px 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.about-main-head {
    font-size: 48px;
    color: #fff;
    font-family: bold;
    margin-bottom: 35px;
    margin-top: 25px;

    @include xs {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

.about-main-body {
    font-size: 20px;
    color: #fff;
    font-family: light;
    text-align: justify;

    @include xs {
        font-size: 14px;
    }
}

.about-numbers-cont {
    margin-top: -14px;

    .about-numbers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        position: relative;
        z-index: 99;

        @include xs {
            padding: 0;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }

    .number {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $blue;
        font-size: 18px;
        text-align: center;

        @include xs {
            margin-bottom: 30px;
        }


        span {
            font-size: 71px;
            color: $green;
            font-family: bold;
            line-height: 1;

            @include xs {
                font-size: 50px;
            }

        }

    }
}



.vision-goals-sec {
    position: relative;
    margin-top: 175px;

    @include xs {
        margin-top: 50px;
    }
}

.vision-goals {
    width: 100%;
    position: relative;
    z-index: 9;

    @include md {
        padding: 0 0;


    }

    .vision-goals-info {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #fff;

        @include md {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    &.vision {
        .vision-goals-info {
            max-width: 58.33333333%;
            padding-left: 50px;
            padding-top: 88px;
            padding-bottom: 49px;

            @include md {
                max-width: none;
                width: 100%;
                text-align: center;
                padding: 0;
            }
        }

        .vision-goals-bgimg {
            top: -47px;
            left: 0;
            position: absolute;

            @include md {
                left: auto;
                right: auto;
                bottom: auto;
                top: auto;
                position: relative;
                margin-bottom: 20px;
            }
        }

        @include md {
            margin-bottom: 0;
        }
    }

    &.goals {
        padding-top: 156px;

        .vision-goals-info {
            max-width: 50%;
            padding-right: 55px;
            padding-top: 56px;
            margin-right: auto;

            @include md {
                max-width: none;
                width: 100%;
                text-align: center;
                padding: 0;
            }
        }

        .vision-goals-bgimg {
            right: 0;
            top: 0;
            z-index: -1;
            position: absolute;

            @include md {
                left: auto;
                right: auto;
                bottom: auto;
                top: auto;
                z-index: 1;
                position: relative;
                left: auto;
                right: auto;
                bottom: auto;
                top: auto;
                margin-bottom: 20px;
            }
        }

        @include md {
            padding: 0;
        }
    }

    .vision-goals-header {
        font-family: bold;
        color: $blue;
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .vision-goals-desc {
        color: #333;
        font-size: 18px;
        line-height: 1.778;
    }
}


.boss-cont {
    background-color: #f5f5f5;
    margin-top: 180px;

    @include sm {
        margin-top: 80px;
        text-align: center;
        padding: 25px 0;
    }

    .boss {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .boss-word {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 55%;

        @include sm {
            width: 100%;
            align-items: center;
        }
    }

    .boos-img {
        min-width: 40%;
        margin-top: -50px;

        @include sm {
            display: none;
        }
    }

    .boss-head {
        font-size: 24px;
        color: $blue;
        font-family: bold;
        margin-bottom: 30px;
    }

    .boss-body {
        font-size: 18px;
        color: #333;
        text-align: justify;
        line-height: 1.778;
    }

    .boss-foot {
        display: flex;
        justify-content: flex-end;
        margin-right: auto;
        margin-top: 60px;
    }
}


.contact-link {
    padding: 120px 0 100px;

    @include sm {
        padding: 60px 0 50px;
    }

    ._1st-head {
        font-size: 18px;
        color: $blue;
        margin-bottom: 27px;

        @include xs {
            margin-bottom: 17px;
        }
    }

    ._2nd-head {
        font-size: 36px;
        color: $blue;
        font-family: bold;
        margin-bottom: 60px;

        @include xs {
            font-size: 26px;
            margin-bottom: 30px;
        }
    }

    .contact-btn {
        font-size: 20px;
        color: #fff;
        font-family: med;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
        width: 215px;
        height: 60px;
        border-radius: 60px;
        margin: auto;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            background-color: $blue;
        }
    }
}