//////////////
.slider-see-all {
    position: absolute;
    width: 50%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 11.9%;
    z-index: 2;

    .all-slider-projects {
        font-size: 24px;
        color: rgba(#fff, 0.6);
        font-family: light;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $green;
        }

        @include xs {
            font-size: 16px;
        }
    }

    @include xs {
        width: 100%;
        bottom: 5px;
    }
}

.slider-social {
    top: 0;
    position: absolute;
    height: 100%;
    right: 15px;
    width: 109px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;

    .social {
        color: rgba(#fff, 0.6);
        font-size: 24px;
        @include transition(all 0.3s ease-in-out);
        margin-bottom: 11px;

        &:hover {
            color: #fff;
        }
    }

    &::before {
        content: '';
        display: block;
        background-color: rgba(#fff, 0.6);
        width: 1px;
        height: 85px;
        margin-bottom: 40px;
    }

    @include xs {
        display: none;
    }
}

.slide {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: $blue;

    @include xs {
        height: auto;
        flex-direction: column;
    }
}

.slide-img {
    width: 50%;
    height: 100%;
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        opacity: 0.4;
        content: "";
        display: block;

        @include xs {
            opacity: 0.75;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include xs {
        width: 100%;
        height: 380px;
    }
}



//////////////
.about-sec {
    padding: 200px 0;
    width: 100%;
    background-image: url("../images/fixed-bg.jpg");
    background-repeat: repeat;
    background-attachment: fixed;

    @include sm {
        padding: 70px 70px;
    }

    @include xs {
        padding: 25px 0;
        background-image: none;
        background-color: $blue;
    }

    .about {
        width: 79.375%;
        background-color: $blue;
        margin: auto;
        position: relative;
        display: flex;
        align-items: center;

        @include sm {
            width: 100%;

        }

        @include xs {
            flex-direction: column;
            background-color: transparent;

            .about-head-pic {
                order: 1;
                width: 50px;
            }
        }
    }

    .about-img {
        width: 50%;

        @include xs {
            width: 100%;
            order: 3;
        }
    }

    .about-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        padding: 0 6%;
    }

    .about-head {
        font-size: 48px;
        color: #fff;
        font-family: bold;
        margin-top: 20px;
        margin-bottom: 30px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;

        @include xs {
            font-size: 20px;
            order: 2;
            margin-top: 15px;
            margin-bottom: 20px;
            text-align: center;
        }
    }

    .about-body {
        font-size: 20px;
        color: #fff;
        font-family: light;
        text-align: justify;

        @include xs {
            font-size: 14px;
            order: 4;
            margin-top: 15px;
        }
    }

    .about-link {
        font-size: 16px;
        color: #3e59c3;
        font-family: light;
        text-decoration: underline;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            text-decoration: none;
            color: $green;
        }

        @include xs {
            font-size: 14px;
        }
    }

    .about-numbers {
        display: flex;
        align-items: center;
        margin-top: 25px;

        @include xs {
            order: 5;
            margin-top: 0;
        }
    }

    .number {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #fff;
        font-size: 18px;
        margin-left: 100px;

        span {
            font-size: 72px;
            color: $green;
            font-family: bold;
        }

        @include xs {
            font-size: 14px;
            order: 5;
            margin-top: 20px;

            span {
                font-size: 30px;
            }
        }
    }
}

//////////////
.projects-sec {
    width: 100%;
    background-image: url("../images/projectsbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 143px 0 208px;

    @include xs {
        padding: 50px 0 120px;
    }
}

.sec-header {
    display: flex;
    font-family: bold;
    font-size: 30px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 47px;

    @include xs {
        font-size: 25px;
        margin-bottom: 25px;
    }
}

//////////////
.gallery {
    display: flex;

    @include xs {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

.items {
    display: flex;
    align-items: flex-start;
    width: 40%;
    flex-direction: column;

    a {
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}



.items-2 {
    display: flex;
    align-items: center;
    width: 20%;
}

.item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    a {
        width: 50%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .seemore-cont {
        display: block;
        width: 50%;
        position: relative;

        &:after {
            content: "";
            display: block;
            padding-bottom: 100.74%;
        }

        .see-more {
            color: #161616;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -36px;
            top: 0;
            width: 100%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 1.86vw;
            font-family: light;
            color: $blue;
            line-height: 1;
            @include transition(all 0.3s ease-in-out);

            img {
                width: 6.975vw;
                height: auto;
                transform: none !important;
                margin-bottom: 14px;
            }

            &:hover {
                color: $green;
            }
        }
    }
}

@media (max-width: 992px) {
    .item .seemore-cont .see-more span {
        font-size: 21px;
    }
}

@media (max-width: 992px) {
    .item .seemore-cont .see-more span:first-child {
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    .item .seemore-cont {
        display: none;
    }
}

.item-cont {
    a {
        display: flex;
        height: 100%;
        position: relative;

        &.see-more {
            height: auto;

            &:after {
                display: none;
            }
        }

        img {
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }

            &:after {
                visibility: visible;
                opacity: 1;
            }
        }

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            content: "\f0c1";
            background-color: rgba($green, 0.92);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            content: "\e86b";
            font-family: 'Linearicons-Free';
            font-size: 48px;
            visibility: hidden;
            opacity: 0;
            @include transition(all 0.3s ease-in-out);
        }
    }
}

//////////////
.video {
    position: relative;

    .play {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        font-size: 26px;
        font-family: light;

        @include xs {
            font-size: 16px;
        }
    }

    .paly-ico {
        margin-bottom: 25px;
        position: relative;
        max-width: 100%;

        @include xs {
            margin-bottom: 15px;
        }

        @include xs {
            width: 50px;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 10px solid #fff;
            border-radius: 100%;
            opacity: 0;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 10px solid #fff;
            border-radius: 100%;
            opacity: 0;
        }

        &:hover {
            &:after {
                animation: pulse 2s linear infinite;
            }

            &:before {
                animation: pulse 2s linear infinite;
                animation-delay: 1s;
            }
        }
    }
}

//////////////
.blog {
    width: 100%;
    background-image: url("../images/blog-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    padding: 110px 0 115px;

    @include xs {
        padding: 50px 0;
    }
}

.blog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;

    @include xs {
        margin-bottom: 20px;
    }
}

.blog-head {
    font-size: 36px;
    color: $blue;
    font-family: bold;

    @include xs {
        font-size: 25px;
    }
}

.seemore-blog {
    font-size: 20px;
    color: #999999;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $green;
    }

    @include xs {
        font-size: 16px;
    }
}

.blog-img {
    width: 100%;

    img {
        width: 100%;
    }
}

.blog-body {
    padding: 35px 0;

    .blog-title {
        color: $blue;
        font-size: 20px;
        font-family: med;
        @include transition(all 0.3s ease-in-out);
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;


        &:hover {
            color: $green;
        }
    }

    .blog-desc {
        font-size: 16px;
        color: $text;
        margin-top: 16px;
    }

    .readmore {
        color: #999999;
        background-color: transparent;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 156px;
        height: 36px;
        border: 2px solid #d9d9d9;
        border-radius: 45px;
        @include transition(all 0.3s ease-in-out);
        margin-top: 30px;

        &:after {
            content: "\e875";
            font-family: 'Linearicons-Free';
            font-size: 14px;
            color: #999999;
            margin-right: 28px;
            @include transition(all 0.3s ease-in-out);
        }

        &:hover {
            background-color: $green;
            border-color: $green;
            color: #fff;

            &:after {
                transform: translateX(-3px);
                color: #fff;
            }
        }
    }
}

//////////////






.gallery-cont .readmore {
    color: #999999;
    background-color: transparent;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 36px;
    border: 2px solid #d9d9d9;
    border-radius: 45px;
    @include transition(all 0.3s ease-in-out);
    margin-top: 30px;

    &:after {
        content: "\e875";
        font-family: 'Linearicons-Free';
        font-size: 14px;
        color: #999999;
        margin-right: 28px;
        @include transition(all 0.3s ease-in-out);
    }

    &:hover {
        background-color: $green;
        border-color: $green;
        color: #fff;

        &:after {
            transform: translateX(-3px);
            color: #fff;
        }
    }
}

@media (max-width: 992px) {
    .gallery-cont .readmore {
        margin-left: auto;
        margin-right: auto;
    }
}

.gallery-cont .seemore {
    margin: auto;
    margin-top: 25px;
    width: 250px;
    display: none;

    @include xs {
        margin-bottom: 25px;
    }
}

@media (max-width: 767px) {
    .gallery-cont .seemore {
        display: flex;
    }
}